<div th:fragment="calendario">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Do not change the order of these dependencies, since some of them depend on others -->
        <!--    <script src="https://cdn.jsdelivr.net/npm/preact@10.23.2/dist/preact.min.js"></script>-->
        <!--    <script src="https://cdn.jsdelivr.net/npm/preact@10.23.2/hooks/dist/hooks.umd.js"></script>-->
        <!--    <script src="https://cdn.jsdelivr.net/npm/@preact/signals-core@1.8.0/dist/signals-core.min.js"></script>-->
        <!--    <script src="https://cdn.jsdelivr.net/npm/@preact/signals@1.3.0/dist/signals.min.js"></script>-->
        <!--    <script src="https://cdn.jsdelivr.net/npm/preact@10.23.2/jsx-runtime/dist/jsxRuntime.umd.js"></script>-->
        <!--    <script src="https://cdn.jsdelivr.net/npm/preact@10.23.2/compat/dist/compat.umd.js"></script>-->

        <!--    <script src="https://cdn.jsdelivr.net/npm/@schedule-x/calendar@2.2.0/dist/core.umd.js"></script>-->
        <!--    <script src="https://cdn.jsdelivr.net/npm/@schedule-x/drag-and-drop@2.2.0/dist/core.umd.js"></script>-->

        <!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@schedule-x/theme-default@2.2.0/dist/index.css">-->



        <!-- TODO: importo SCHEDULE-X: importantissimo è preservare l'ordine con cui sono importati gli script-->
        <!--    TODO: I seguenti script in questo esatto ordine sono stati generati al di fuori di questo progetto
                 tramite npm, poi ho preso dalle varie cartelle /dist di ogni sottomodulo i file .js necessari.
        -->

        <script th:src="@{/js/schedule-x/preact.min.umd.js}"></script>
        <script th:src="@{/js/schedule-x/hooks.umd.js}"></script>
        <script th:src="@{/js/schedule-x/signals-core.min.js}"></script>
        <script th:src="@{/js/schedule-x/signals.min.js}"></script>
        <script th:src="@{/js/schedule-x/jsxRuntime.umd.js}"></script>
        <script th:src="@{/js/schedule-x/compat.umd.js}"></script>

        <script th:src="@{/js/schedule-x/translations.js}"></script>
        <script th:src="@{/js/schedule-x/calendar.js}"></script>


        <link th:href="@{/css/schedule-x/theme-default.css}" rel="stylesheet" />


    </head>


    <div class="container">
        <div class="calendar" id="calendar"></div>

        <script type="module">
            const { createCalendar, viewWeek } = window.SXCalendar;


            //const { createDragAndDropPlugin } = window.SXDragAndDrop; // disabilito il drago and drop

            const plugins = [
                //createDragAndDropPlugin(),
            ]


            const calendarConfig = {
                views: [viewWeek],
                events: [
                    {
                        id: '1',
                        title: 'Evento 1',
                        start: '2025-05-13 09:15',
                        end: '2025-05-13 10:00'
                    },
                    {
                        id: '2',
                        title: 'Evento 2',
                        start: '2025-05-14 07:05',
                        end: '2025-05-14 10:05'
                    }
                ],
                locale: 'it-IT',
                dayBoundaries: {
                    start: '07:00',
                    end: '21:00',
                }
            }

            const calendar = createCalendar(calendarConfig, plugins)

            console.log(window.SXCalendar)

            calendar.render(document.querySelector('.calendar'))
        </script>
    </div>


</div>