<div th:fragment="calendarioDeprecato">


    <div id="dp">
    </div>

    <!-- TODO: interessante l'uso di th:inline="javascript"    -->
    <script th:inline="javascript">

        // TODO: Configurazione del calendario
        const calendario = new DayPilot.Calendar("dp", {

            // Carico il mio tema colori personalizzato
            theme: "smatheme",


            // Tipo di visualizzazione che voglio avere:
            // -  "Day" per il singolo giorno.
            // -  "Week" per i giorni della settimana
            // -  "Resources" per avere nomi custom nelle colonne
            viewType: "Week",

            locale: "it-it",
            headerDateFormat: "d MMMM yyyy",

            // Il calendario inizia da oggi
            startDate: DayPilot.Date.today(),

            // Di default Daypilot mi visualizza AM e PM, ma io non li voglio, quindi:
            // dayBeginsHour: 0,
            // dayEndsHour: 24,
            timeFormat: "Clock24Hours", // Imposta il formato 24 ore
            hourHeaderFormat: "HH:mm", // Formatta le righe con ore e minuti // TODO: non va per ora
            timeHeaderFormat: "HH:mm", // Imposta il formato degli orari nella colonna degli orari
            // Imposta il formato dell'orario nella colonna delle righe (orari)
            rowHeaderFormat: "HH:mm",  // Questo definisce il formato degli orari nella colonna delle righe

            // Imposto solo il range di ore che mi interessa
            businessBeginsHour: 7, // TODO: potrebbe leggerlo magari dal file di testo o da java tramite API ?
            businessEndsHour: 22,
            heightSpec: "BusinessHoursNoScroll", // per evitare lo scrolling

            // Altezza delle colonne dell'intestazione
            headerHeightAutoFit: false,
            headerHeight: 55,


            // Larghezza della prima colonna (contenente in ogni cella l'orario )
            // rowHeaderAutoFit: false,
            rowHeaderWidth: 300,
            rowHeaderWidthMin: 50,
            width: "100%",


            // Cambia il formato della colonna oraria con il callback
            onBeforeRowHeaderRender: function (args) {
                console.log("Rendering row: " + args.start); // Debug,
                // Trasforma il formato delle ore nella colonna oraria
                args.html = args.start.toString("HH:mm");
            },


            // CONFIGURAZIONE DEGLI EVENTI:
            eventMoveHandling: "Disabled", // Non posso ridimensionarlo manualmente
            eventResizeHandling: "Update",

        });
        calendario.init();




        // TODO: Sezione dati
        const app = {
            init() {

                // Definisco le mie colonne (con i nomi dei giorni)
                const columns = [
                    { name: "Lunedì",       id: "G1" },
                    { name: "Martedì",      id: "G2" },
                    { name: "Mercoledì",    id: "G3" },
                    { name: "Giovedì",      id: "G4" },
                    { name: "Venerdì",      id: "G5" },
                    { name: "Sabato",       id: "G6" },
                    { name: "Domenica",     id: "G7" }
                ]

                const events = [
                    {
                        "id": 1,
                        "start": "2025-03-23T10:00:00",
                        "end": "2025-03-23T12:00:00",
                        "text": "Event 1"
                    },
                    {
                        "id": 2,
                        "start": "2025-03-23T13:00:00",
                        "end": "2025-03-23T14:00:00",
                        "text": "Event 2"
                    },
                    {
                        "id": 3,
                        "start": "2025-03-24T15:00:00",
                        "end": "2025-03-24T20:00:00",
                        "text": "Event 3",
                        "allday": true
                    }
                ];
                calendario.update({columns, events});
            },
        };
        app.init();
    </script>
</div>