
<div th:fragment="formPrestazione">

    <h3 class="mb-4 text-center">Dettagli Prestazione</h3>
    <hr/>
    <br>

    <form class="text-center justify-content-center">
        <div class="form-group mb-5 mx-auto text-center">
            <label for="titoloPrestazione" >Titolo</label>
            <input class="form-control form-control-lg" type="text" th:value="${prestazione.titolo}" id="titoloPrestazione" readonly>
        </div>
        <br>
        <div class="form-group mb-5 mx-auto text-center">
            <label for="descrizionePrestazione">Descrizione</label>
            <textarea class="form-control form-control-lg" th:text="${prestazione.descrizione}" id="descrizionePrestazione" rows="6" readonly></textarea>
        </div>
        <br>
        <div class="form-group mb-5 mx-auto text-center" >
            <label for="durataMediaPrestazione" >Durata Media</label>
            <input class="form-control form-control-lg" type="text" th:value="${prestazione.durataMedia}" id="durataMediaPrestazione" readonly>
        </div>
        <br>
        <div class="form-group mb-5 mx-auto text-center">
            <label for="costoPrestazione" >Costo</label>
            <input class="form-control form-control-lg" type="text" th:value="${prestazione.costo}" id="costoPrestazione" readonly>
        </div>
    </form>
</div>