<div th:fragment="formTre">

    <h3 class="mb-4 text-center">Riepilogo Prenotazione</h3>
    <hr/>
    <form>
        <div class="row">
            <div class="col-md-4">
                <h4>Paziente:</h4>
                <p><span th:text="${nomePaziente + ' ' + cognomePaziente}"></span></p>
<!--                <p>Cognome: <span th:text="${cognomePaziente}"></span></p>-->
            </div>

            <div class="col-md-4">
                <h4>Medico:</h4>
                <p><span th:text="${medicoCandidato}"></span></p>
            </div>

            <div class="col-md-4">
                <h4>Prestazione: </h4>
                <span th:text="${session.prestazione.getTitolo()}"></span>
                <p>Costo totale: <span th:text="${session.prestazione.getCosto()+session.prestazione.getTicket()} + ' €'" ></span></p>
            </div>

        </div>
    </form>
</div>