<div th:fragment="formPrenotazione">

    <!-- TODO: rappresenta il form per prenotare la visita che ha ad oggetto la prestazione scelta. -->
    <div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="formNome">Nome</label>
                <input type="text" class="form-control" id="formNome">
            </div>
            <div class="form-group col-md-6">
                <label for="formCognome">Cognome</label>
                <input type="text" class="form-control" id="formCognome">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="Comune">Comune</label>
                <input type="text" class="form-control" id="Comune">
            </div>
            <div class="form-group col-md">
                <label for="Provincia">Provincia</label>
                <input type="text" class="form-control" id="Provincia">
            </div>
            <div class="form-group col-md">
                <label for="CAP">CAP</label>
                <input type="text" class="form-control" id="CAP">
            </div>
        </div>
    </div>


</div>