<div th:fragment="formPrenotazione">

    <h3 class="mb-4 text-center">Disponibilita'</h3>
    <hr/>
    <br>
    <form th:action="@{/prenotazione/step2}" method="post"  > <!-- class="text-center justify-content-center"-->

        <div class="form-group mb-5 mx-auto text-center">
            <label for="prima_data_disponibile" >La prima Data Disponibile per la visita e':</label>
            <input class="form-control form-control-lg" type="text"
                   name="primaDataDisponibile"
                   id="prima_data_disponibile"
                   required readonly
                   th:value="${#dates.format(primaDataDisponibile, 'dd-MMM-yyyy')}">
        </div>
        <br>

        <div class="form-group mb-5 mx-auto text-center">
            <label for="orario" >Alle ore:</label>
            <input class="form-control form-control-lg" type="text"
                   id="orario"
                   name="primoOrarioDisponibile"
                   required readonly
                   th:value="${#dates.format(primoOrarioDisponibile, 'HH:mm')}">
        </div>
        <br>

        <div class="form-group mb-5 mx-auto text-center">
            <label for="medico_candidato" >Medico:</label>
            <input class="form-control form-control-lg" type="text"
                   name="medicoCandidato"
                   id="medico_candidato"
                   required readonly
                   th:value="${medicoCandidato}">
        </div>
        <br>


        <div class="row mt-4">
            <div class="form-group col text-center">
                <button type="button" class="btn btn-secondary">Cambia Data</button>
            </div>
        </div>


    </form>
</div>