<!DOCTYPE HTML>

<!-- TODO: importo il namespace xml di thymeleaf  -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">




<!-- TODO: inserisco il blocco comune head  -->
<div th:insert="~{fragments/head.html :: head}"></div>


<body>


<div th:insert="~{fragments/navbar.html :: navbar}"></div>



<div class="container">
    <div class="card">


        <h1 th:text="${titolo}"></h1>
        <hr/>

        <h3>Chi siamo?</h3>
        <p>
            Ideato nel 2022, SMA-RT e' una clinica privata che mira a costruire una suite di <i>servizi automatizzati</i> per pazienti, medici ed infermieri.
        </p>
        <p>Siamo un gruppo di professionisti della salute, tra cui: medici di base e specialisti, infermieri
            con decine di anni d'esperienza alle spalle. Facciamo uso delle principali tecnologie in ambito medico e queste ultime sono parte integrante
            dei nostri investimenti.
        </p>
        <hr/>

        <h3>Perche' dovresti scegliere SMA-RT?</h3>
        <p>
            La risposta la puo' notare una persona qualsiasi tra di noi: sempre piu' frequentemente, anche per fare una
            semplicissima visita medica della durata di 10', negli ospedali pubblici ci si puo' imbattere in liste di attesa eccessivamente lunghe, che spesso
            superano l'anno.<br>
            Uno degli obiettivi di SMA-RT e' di abbattere questi lunghi (e inutili) tempi d'attesa!
        </p>
        <hr/>

        <h3>Dove ci troviamo?</h3>
        <p>
            La nostra sede è a Rovigo (RO) a in Viale Porta Adige 13. E' raggiungibile tranquillamente a piedi in quanto sita a 250 metri dalla stazione ferroviaria di Rovigo.
        </p>
        <hr/>

        <h3>We're hiring!</h3>
        <p>
            Siamo sempre alla ricerca di nuove figure professionali per espandere il nostro operato e migliorare i nostri servizi.
            Attualmente, se sei un infermiere, anche senza esperienza ma con una spiccata voglia di imparare e metterti in gioco,
            potresti fare al caso nostro!
        </p>

    </div>
</div>


<!-- TODO: inserisco il blocco comune foot  -->
<div th:insert="~{fragments/foot.html :: foot}"></div>

</body>
</html>