<!DOCTYPE HTML>

<!-- TODO: importo il namespace xml di thymeleaf  -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

    <div th:insert="~{fragments/head.html :: head}"></div>

    <body>

        <div th:insert="~{fragments/navbar.html :: navbar}"></div>




        <div class="container">
            <div class="card">

                <h1 th:text="${titolo}"></h1>

                <hr/>



                <div sec:authorize="hasRole('ROLE_PAZIENTE') or isAnonymous()">
                    <h3 th:text="${sottotitolo}"></h3>
                    <div th:insert="~{fragments/cardPrestazione.html :: cardPrestazione}"></div>

                </div>



                <div sec:authorize="hasRole('ROLE_MEDICO')">

                    <!-- TODO: appuntamenti == quadro orario            -->

                </div>


            </div>

        </div>




        <div th:insert="~{fragments/foot.html :: foot}"></div>

    </body>
</html>