<!DOCTYPE HTML>

<!-- TODO: importo il namespace xml di thymeleaf  -->
<html xmlns:th="http://www.thymeleaf.org">



<!-- TODO: inserisco il blocco comune head  -->
<div th:insert="~{fragments/head.html :: head}"></div>



<body>


<!-- TODO: inserisco il blocco comune per la navbar  -->
<div th:insert="~{fragments/navbar.html :: navbar}"></div>

<div class="container">
    <h1>STUDIO MEDICO ASSOCIATO</h1>

    <h3 th:text="${titolo}"></h3>


    <table class="table table-hover">
        <thead>
        <tr scope="row">
            <th scope="col">Tipo Prestazione</th>
            <th scope="col">Data Prenotazione</th>
            <th scope="col">Data Visita</th>
            <th scope="col">Ora</th>
            <th scope="col">Num Ambulatorio</th>

        </tr>
        </thead>
        <tbody>
        <tr scope="row" th:each="visitaPrenotata: ${visitePrenotate}" >
            <td th:text="${visitaPrenotata.getTitoloPrestazione()}"></td>
            <td th:text="${#dates.format( visitaPrenotata.getDataPrenotazione(), 'yyyy-MM-dd' )}"></td>
            <td th:text="${#dates.format( visitaPrenotata.getDataVisita(), 'yyyy-MM-dd' )}"></td>
            <td th:text="${#dates.format( visitaPrenotata.getOra(), 'HH:mm')}"></td>
            <td th:text="${visitaPrenotata.getNumAmbulatorio()}"></td>
        </tr>
        </tbody>
    </table>
    <br/>

</div>


<!-- TODO: inserisco un blocco comune per il foot -->
<div th:insert="~{fragments/foot.html :: foot}"></div>

</body>
</html>