<!DOCTYPE HTML>

<!-- importo il namespace xml di thymeleaf  -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<div th:insert="~{fragments/head.html :: head}"></div>

<head>
    <style>
        /* Risolvo il problema dell'hover che non colora di "verde success" il button di conferma.  */
        .btn-outline-success:hover {
            background-color: #198754 !important;
            color: #fff !important;
            border-color: #198754 !important;
        }
    </style>
</head>


    <body>

        <div th:insert="~{fragments/navbar.html :: navbar}"></div>
        <br>
        <div class="container">
            <div class="card card-bg card-big border border-primary rounded border-bottom-card">
                <br>

                <!-- ######## -->
                <!--  STEPPER -->
                <!-- ######## -->
                <div class="steppers">

                    <!-- Intestazione stepper -->
                    <div class="steppers-header">
                        <ul>

<!--                            <li class="confirmed" th:classappend="${step == 1} ? 'active' : ''">-->
                            <li th:class="'it-stepper-item' + (${step > 1} ? ' confirmed' : '') + (${step == 1} ? ' active' : '')">

                            Prestazione
<!--                                <svg class="icon steppers-success">-->
<!--                                    <use th:href="@{/svg/sprites.svg#it-check}"></use>-->
<!--                                </svg>-->
                                <span class="visually-hidden">Confermato</span>
                            </li>

<!--                            <li class="it-stepper-item" th:classappend="${step == 2} ? 'active' : ''">-->
                            <li th:class="'it-stepper-item' + (${step > 2} ? ' confirmed' : '') + (${step == 2} ? ' active' : '')">

                            Data e ora
                                <span class="visually-hidden">Attivo</span>
                            </li>

<!--                            <li class="it-stepper-item" th:classappend="${step == 3} ? 'active' : ''">-->
                            <li th:class="'it-stepper-item' + (${step > 3} ? ' confirmed' : '') + (${step == 3} ? ' active' : '')">

                            <div class="step-title">Riepilogo</div>

                            </li>
                        </ul>
                        <span class="steppers-index" aria-hidden="true">2/6</span>
                    </div>


                    <!-- Inserisco il giusto fragments, sulla base dello step in cui mi trovo    -->
                    <!-- Stepper Content -->
                    <div class="steppers-content" aria-live="polite">
                        <div th:if="${step == 1}" th:insert="~{fragments/formPrestazione}"></div>
                        <div th:if="${step == 2}" th:insert="~{fragments/formPrenotazione}"></div>
                        <div th:if="${step == 3}" th:insert="~{fragments/formTre}"></div>
                    </div>



                    <!-- Barra di navigazione dello stepper -->
                    <nav class="steppers-nav">
                        <a th:if="${step > 1}" th:href="@{'/prenotazione/step' + ${step - 1}}"
                           class="btn btn-outline-primary btn-sm steppers-btn-prev">
                            <svg class="icon icon-primary">
                                <use th:href="@{/svg/sprites.svg#it-chevron-left}"></use>
                            </svg>Indietro
                        </a>

                        <a th:if="${step < 3}" th:href="@{'/prenotazione/step' + ${step + 1}}"
                           class="btn btn-outline-primary btn-sm steppers-btn-next">
                            <svg class="icon icon-primary">
                                <use th:href="@{/svg/sprites.svg#it-chevron-right}"></use>
                            </svg>Avanti
                        </a>

                    <!-- Bottone conferma -->
                    <form th:if="${step == 3}" th:action="@{/prenotazione/conferma}" method="post">
                        <button type="submit"
                                class=" btn btn-sm steppers-btn-confirm btn-outline-success d-none d-lg-block">
                            <!-- btn-primary btn -->
                            Conferma
                        </button>
                    </form>


                    </nav>
                </div>


        </div>
    </div>

        <br>
        <div th:insert="~{fragments/foot.html :: foot}"></div>

    </body>
</html>